<html>
  <head>
	<title><%= title %></title>
    <% include ../common/header.ejs %>
  </head>
  <body class="demo3">
  	<!-- menu -->
  	<% include ../common/menu.ejs %>
  	<!--body -->
  	<div id="container">
  		본문 내용을 입력한다.
  	</div>
  </body>
  <!-- bottom(하단처리) -->
  <% include ../common/bottom.ejs %>
</html>
