		<div id="status">
			<div class="row no-padding">
				<div class="col-sm-8 " style="height:100px;">
					<table class="table table-bordered  table-striped table-customized" 
						id="status_table">
						<tbody>
						<td>12</td>
							<tr>
								<th>일시</th>  
									<td><span id="firewall_count">2018.05.01 00:00:00</span></td>
							</tr>
							<tr>
								<th>성공</th>
									<td><span id="ips_count">1건 (목록보기..)</span></td>
							</tr>
							<tr>
							<th>실패</th>
								<td><span id="abnormal_count">1건 (목록보기..)</span></td>
							</tr>
						</tbody>				
					</table>
				</div>
				<div class="col-sm-4 " style="height:100px;">
				
				<button type="button" onclick="alert('테스트하기 누름')">테스트하기</button>
				</div>
				
			</div>
			<div class="row no-padding " style="height:25px; text-align:center; "><span id="status_msg" style="height:20px; font-size:12px;">상세보기..</span></div>

			
		</div>
		