		<div id="status">
			<div class="row no-padding">
				<div class="col-sm-12 " style="height:100px;">
					<table class="table table-bordered  table-striped table-customized" 
						id="TestList"
			  			data-toggle="table"
			  			data-query-params="queryParams"
			  			border="1" 
						data-url="/packet/main/info">
						<thead>
							<tr class="center">
								<th data-field="ip">대상ip</th>
								<th data-field="rdate">일시</th>
								<th data-field="result" data-formatter="formatterTestResult">결과</th>
							</tr>
						</thead>				
					</table>
				</div>		
				<div class="col-sm-4 " style="height:35px;">
				</div>
			</div>
		</div>
		