<html>
  <head>
	<title><%= title %></title>
    <% include ../common/header.ejs %>
	  <script src='/js/Chart.min.js'></script>  
	  <script>
		$(document).ready(function(){
			var chart_json = new Array();
			var chart_info = new Object();
			chart_json.type = 'bar';
			chart_json.data = new Object();
			chart_json.data.labels =  ["Africa", "아시아", "Europe", "Latin America", "North America"];
			var chart_data = new Array();
			var chart_dataset = new Object();
			chart_dataset.label = "Population (millions)"
			chart_dataset.data = [2478, 5267, 734, 784, 433];
			chart_dataset.backgroundColor = ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"];
			chart_data.push(chart_dataset);
			chart_json.data.datasets = chart_data;
			var chart_options = new Object();
			chart_options.legend = new Object();
			chart_options.legend.display = false;
			chart_options.title = new Object();
			chart_options.title.display = true;
			chart_options.title.text = 'Predicted world population (millions) in 2050';
			chart_json.options = chart_options;
	
			new Chart($('#bar-chart'), chart_json);
			
			new Chart($('#line-chart'), {
				type: 'line',
				data: {
					labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
					datasets: [{ 
						data: [86,114,106,106,107,111,133,221,783,2478],
						label: "Africa",
						borderColor: "#3e95cd",
						fill: false
					}, { 
						data: [282,350,411,502,635,809,947,1402,3700,5267],
						label: "Asia",
						borderColor: "#8e5ea2",
						fill: false
					}, { 
						data: [168,170,178,190,203,276,408,547,675,734],
						label: "Europe",
						borderColor: "#3cba9f",
						fill: false
					}, { 
						data: [40,20,10,16,24,38,74,167,508,784],
						label: "Latin America",
						borderColor: "#e8c3b9",
						fill: false
					}, { 
						data: [6,3,2,2,7,26,82,172,312,433],
						label: "North America",
						borderColor: "#c45850",
						fill: false
					}]
				},
				options: {
					title: {
						display: true,
						text: 'World population per region (in millions)'
					}
				}
			});
	
			new Chart($('#pie-chart'), {
				type: 'pie',
	    			data: {
	      				labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
	      				datasets: [{
	        				label: "Population (millions)",
	        				backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
	        				data: [2478,5267,734,784,433]
	      				}]
	    			},
	    			options: {
	      				title: {
	 		       			display: true,
	        				text: 'Predicted world population (millions) in 2050'
	      				}
	    			}
			});
		});
	 </script>
  </head>
  <body class="demo3">
  	<!-- menu -->
  	<% include ../common/menu.ejs %>
  	<!--body -->
  	<div id="container">
	  <canvas id="bar-chart" width="800" height="450"></canvas>
	  <canvas id="line-chart" width="800" height="450"></canvas>
	  <canvas id="pie-chart" width="800" height="450"></canvas>
  	</div>
  </body>
  <!-- bottom(하단처리) -->
  <% include ../common/bottom.ejs %>
</html>
